/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 100px;
  font-family: sans-serif;
  font-size: 18px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--main-font);
  }
}

.content-wide {
  inline-size: var(--content-inline-size);
}

.header {
  margin-block-end: 100px;
  border: 2px solid #000;
}

.header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-block: clamp(7.5rem, 7.324rem + 0.75vw, 8rem);
  font-family: var(--accent-font), system-ui;
}

.header__logo span {
  display: block;
}

.header__logo_title {
  font-size: var(--logo-title-size);
}

.header__logo_subtitle {
  font-size: var(--logo-subtitle-size);
  text-transform: uppercase;
}

.card-list {
  display: flex;
  flex-direction: column;
  row-gap: 49px;
  margin-block-end: 49px;
}

.card {
  border: 2px solid #000;
}

.card__title {
  padding-inline: 10px;
  font-weight: var(--title-font-weight);
  font-size: inherit;
  line-height: 171%;
}

.image-box {
  position: relative;
}

.image-box__image {
  display: block;
  block-size: 100%;
  inline-size: 100%;
}

.image-box__text {
  position: absolute;
  top: 27px;
  right: 25px;
  font-family: var(--accent-font), system-ui;
  font-size: 14px;
  text-shadow: -1px -1px var(--text-stroke-color),
    1px 1px var(--text-stroke-color);
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--text-stroke-color)) or
    (-webkit-text-stroke: 1px var(--text-stroke-color))
) {
  .image-box__text {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-stroke-color);
    text-stroke: 1px var(--text-stroke-color);
  }
}

.card__desc {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-inline: 25px;
  padding-block: 27px;
}

.card__desc_text {
  line-height: 120%;
}

.button {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 0;
  font-family: var(--accent-font), system-ui;
  font-size: 14px;
  background: inherit;
}

.card__like-button {
  align-self: end;
  border: none;
}

.card__like-button .button__text {
  border: 2px solid #000;
  padding-inline: 35px;
  padding-block: 10px;
}

.dialog-button {
  justify-self: center;
  gap: 8px;
  border: 2px solid #000;
  padding-inline-start: 19px;
  padding-inline-end: 21px;
  padding-block: 15px;
}

.close-button {
  justify-content: center;
  padding-block: 10px;
  inline-size: 100%;
}

.dialog-save[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border: 2px solid #000;
  padding: 29px;
  inline-size: 355px;
}

.dialog-save__warn {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog-save__img {
  inline-size: 39px;
  block-size: 39px;
}

.dialog-save__text {
  font-family: var(--accent-font), system-ui;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog-save::backdrop {
  background: rgb(0 0 0 / 0.75);
}

@media (width <= 375px) {
  .content-wide {
    inline-size: 100%;
  }

  .card-list {
    row-gap: 48px;
  }

  .card__title {
    padding-block: 4px;
    line-height: normal;
  }

  .card__desc {
    padding-block: 29px;
  }

  .card__desc_text {
    line-height: 117%;
  }

  .image-box__text {
    top: 25px;
    right: 11px;
  }

  .dialog-save[open] {
    padding: 30px 40px;
    inline-size: 340px;
  }

  .dialog-button {
    flex-direction: column;
    gap: 9px;
  }

  .dialog-button svg {
    width: 28px;
    height: 28px;
  }
}
