/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter-Variable";
  --accent-font: "PressStart2P";
  --title-font-weight: 700;
  --card-font-weight: 400;
  --content-inline-size: clamp(23.438rem, 16.285rem + 30.52vw, 43.75rem);
  --logo-title-size: clamp(3.063rem, 2.71rem + 1.5vw, 4.063rem);
  --logo-title-size-mobile: clamp(2.813rem, 1.358rem + 7.27vw, 3.063rem);
  --logo-subtitle-size: clamp(0.875rem, 0.677rem + 0.85vw, 1.438rem);
  --main-text-color: rgb(0 0 0);
  --text-stroke-color: rgb(255 255 255 /0.5);
  --page-background: repeating-linear-gradient(
      rgb(211 211 211) 0,
      rgb(211 211 211) 2px,
      /* transparent 2px,
      transparent 4px */
      rgb(211 211 211 / 0) 2px,
      rgba(211 211 211 / 0) 4px
    ),
    repeating-linear-gradient(
      to right,
      rgb(211 211 211) 0,
      rgb(211 211 211) 2px,
      /* transparent 2px,
      transparent 4px */
      rgb(211 211 211 / 0) 2px,
      rgba(211 211 211 / 0) 4px
    ),
    repeating-linear-gradient(
      rgb(231 231 231) 0.01%,
      rgb(26 26 26) 100%
    );

  --main-content-background: rgb(255 355 255);

  --contour-color: rgb(0 0 0);
  --sparks-color: rgb(255 0 0);
}
